@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');

body {
  background-color:#71e6e2;
  text-align: center;
  color:#000;
  padding-top:10em;
  font-family: 'Exo 2', sans-serif;
}

* { color:#000; text-decoration: none;}

.cursor {
	border: 0.08em solid #000;
}

#head123 {
	display: none;
}

#head1234 {
	display: none;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}